@charset "UTF-8";


td.my {

   font-size: 18px;
   font-family: malgun;
   font-weight: bold;
   color: #0A2647;
}


table.reserv {
	font-size: 15px;
    font-family: malgun;
	
	
}



td.rlist {
	height: 25px;
	border-bottom: 1px solid rgb(222, 222, 222);
	text-align: center;
}

td.rtitle {
	font-weight: bold;
	font-size:16px;
	height: 25px;
		text-align: center;
	border-bottom: 1px solid rgb(222, 222, 222);
	
}